extends layout

block content
  form(method='POST')
    legend Signup
    p Password should satisfy these rules:
    ul#rules
      <li>contains at least eight characters</li>
      <li>contains at least one uppercase letter</li>
      <li>contains at least one lowercase letter</li>
      <li>contains at least one special character</li>
      <li>contains at least one digit</li>
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email')
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    .form-group
      label(for='confirm') Confirm Password
      input.form-control(type='password', name='confirm')
    button.btn.btn-primary(type='submit') Signup
    p <br />
    p Passwords are stored as an MD5 hash of the password with unique salt. 
    p Salt is inserted in a random location of plaintext password.
    p Salt and location are stored in their separate columns in the database.